.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.bg-container{
  background-image:url("https://mcdn.wallpapersafari.com/medium/66/27/h1Czx5.jpg");
  width:100%;
  height:100%;
  box-sizing:border-box;
  background-size:cover;
  background-size:contain;
  background-repeat:no-repeat;
}

body{background-color: #051a7e ;}